<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
          <div class="form-group">
            <mat-form-field appearance="legacy">
              <input class="form-control" formControlName="name" matInput placeholder="Name">
            </mat-form-field>
            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
              Name is required (minimum 5 characters).
            </small>
          </div>
          <!--addresses-->
          <div formArrayName="addresses">
            <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
              <mat-card>
                <div class="cc-heading">
                  <span>Address {{i + 1}}</span>
                  <a class="cc-close" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)" mat-button>
                    <mat-icon>close</mat-icon>
                  </a>
                </div>
                <mat-divider></mat-divider>
                <div class="panel-body" [formGroupName]="i">
                  <app-address [group]="myForm.controls.addresses.controls[i]"></app-address>
                </div>
              </mat-card>
            </div>
          </div>

          <div class="cc-margin">
            <a (click)="addAddress()" class="cc-link">
              Add another address +
            </a>
          </div>

          <div class="margin-20">
            <button type="submit" mat-raised-button color="primary" [disabled]="!myForm.valid">Submit</button>
          </div>
          <div class="clearfix"></div>

          <div class="cc-margin">
            <div>myForm details:-</div>
            <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
            <pre>form value: <br>{{myForm.value | json}}</pre>
          </div>
        </form>
      </div>
    </div>
</div>